@using Test.Common
@model List<TestUser>

<div id="dialog-modal"><p>Delete Test User?</p></div>

<h3>Test Users</h3>
<a class="btn btn-primary" href="@Url.Action("TestUser", "Home", new {id = 0})"><i class="fa fa-lg fa-user"></i> Add User</a>
@Html.ActionLink("Export","ExportTestUsers")

<table class="table table-striped" id="TestUsersTable" runat="server">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var testUser in this.Model)
        {
            <tr>
                <td>@testUser.FirstName</td>
                <td>@testUser.LastName</td>
                <td>@testUser.EmailAddress</td>
                <td>
                    <a href="@Url.Action("TestUser", "Home",
                            new {id = testUser.TestUserId})">
                        <i class="fa fa-pencil fa-lg text-primary"></i>
                    </a>
                </td>
                <td>
                    <a href="#" class="confirm-delete" data-id="@testUser.TestUserId">
                        <i class="fa fa-trash fa-lg text-primary"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>